<div class="main-section">

  <!-- Home -->
  <div (click)="onHome()" class="navbar-part">
     <div class="navbar-icon"><i class="bi bi-house"></i></div>
    <p class="icon-name">Home</p>
  </div>

  <!-- Cart -->
  <div (click)="onShowCart()" class="navbar-part" style="position: relative;">
    <div class="navbar-icon"><i class="bi bi-bag-plus"></i></div>
    <p class="icon-name">Cart</p>
    <span *ngIf="cartItemCount > 0">
      {{ cartItemCount }}
    </span>
  </div>


  <!-- Promotion -->
  <div (click)="navigateTo('/promotions')" class="navbar-part">
     <div class="navbar-icon"><i class="bi bi-heart"></i></div>
    <p class="icon-name">Promotion</p>
  </div>

  <!-- Profile -->
  <div (click)="onShowProfile()" class="navbar-part">
     <div class="navbar-icon"><i class="bi bi-person"></i></div>
    <p class="icon-name">Profile</p>
  </div>

</div>